---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=TMDB_API_KEY&include_adult=false&language=en-US&page=1&query=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 0b5947bc31aeddd8f20b6f446a3fa89e
      X-Memc-Age:
      - '581'
      X-Memc-Expires:
      - '21678'
      Etag:
      - W/"0e23279b004381f72a34159d5c7dfd1f"
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[],"total_pages":1,"total_results":0}'
  recorded_at: Mon, 12 Feb 2024 21:28:34 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=TMDB_API_KEY&include_adult=false&language=en-US&page=1&query=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 0b5947bc31aeddd8f20b6f446a3fa89e
      X-Memc-Age:
      - '581'
      X-Memc-Expires:
      - '21678'
      Etag:
      - W/"0e23279b004381f72a34159d5c7dfd1f"
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[],"total_pages":1,"total_results":0}'
  recorded_at: Mon, 12 Feb 2024 21:28:34 GMT
recorded_with: VCR 6.2.0
